.background {
    
    width: 100vw;
    height: 100vw;
    background-image: url('../images/parallaxBG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: -10px;


    .homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 10px;
    background-color: transparent;
    flex-direction: column;

        .top-home {
            display: grid;
            grid-template-columns: minmax(200px, 400px) minmax(200px, 400px) minmax(200px, 400px);
            height: 300px;
            grid-gap: 10%;
            margin-top: 25px;

            .top-left-home {
                @include tallBox();
                img {
                    @include maxImg();
                }
            }

            .top-center-home {
                @include tallBox();
                max-width: 300px;
                min-width: 150px;
                
                .top-text {
                    font-size: 2em;
                    color: rgb(78, 211, 52);      
                }
            }

            .top-right-home {
                @include tallBox();
                flex-direction: column;
                .top-right-pics {
                    display: flex;
                    flex-direction: row;
                    .sub1-top-right-home {
                        display: flex;
                        height: 150px;
                        width: 150px;    
                        img {
                            height: 150px;
                            max-width: 150px;
                        }
                    }

                    .sub2-top-right-home {
                        display: flex;
                        img {
                            height: 150px;
                            max-width: 150px;
                        }
                    }
                }
                .sub3-top-right-home{
                    display: flex;
                    
                    img {
                        height: 150px;
                        width: 300px;
                    }
                }     
            }
        }

        .middle-home {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            height: 300px;    
            width: 90vw;
            padding-top: 49px;
                
            .middle-left-home {
                @include middleBox();
                img {
                    @include maxImg();
                }
            }

            .middle-center-home {
                @include middleBox();
                img {
                    @include maxImg();
                }
            }

            .middle-right-home {
                @include middleBox();
                img {
                    @include maxImg();
                }
            }


        }

        .bottom-home {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            width: 90%;
            height: 300px;
            padding-top: 51px;

            .bottom-left-home {
                @include bottomBox();
                
                img{
                    max-height: 300px;
                    max-width: 300px;
                    border-radius: 8px;
                }
            }

            .bottom-centers-home {
                @include bottomBox();
                flex-direction: column;
                max-height: 100%;
                max-width: 100%;
                
                .bottom-center1-home {
                    img {
                    max-height: 150px;
                    max-width: 100%;
                    border-radius: 8px;
                    }
                }

                .bottom-center2-home {
                    img {
                    max-height: 150px;
                    max-width: 100%;
                    border-radius: 8px;
                    }
                }
            }

            .bottom-right-home {
                @include bottomBox();
                img {
                max-height: 300px;
                max-width: 300px;
                border-radius: 8px;
                }
            }            
        }
    }
}