.nav-wrapper {
    padding: 18px;
    text-transform: uppercase;
    background-image: url(../images/planetSun.jpg);
    background-position: top;

    a {
        text-decoration: none;
        color: grey;
        transition: 0.5s ease-in-out;

        

        &:hover {
            cursor: pointer;
            color: red;
            letter-spacing: 0.2rem;
            transition: 0.5s ease-in-out;
        }
    }

    .logo {
        img {
            height: 56px;
            width: 16%;
    }
}
    .left-side {
        display: flex;
        justify-content: space-between;
        padding-bottom: 6em;
        
    }

    .nav-link-wrapper {
        font-size: 20px;
        border-bottom: transparent;
        
    }

    .active-nav-link {
        color: red;
        letter-spacing: 0.2rem;
        transition: 0.7s ease-in-out;
    }
}