.nav-wrapper {
    padding: 28px;
    text-transform: uppercase;
    background-image: url(../images/planetSun.jpg);
    background-position: top;
    font-family: 'Ailerons';

    

    // a {
    //     text-decoration: none;
    //     color: grey;
    //     transition: 0.5s ease-in-out;
    //     font-family: 'Ailerons';

        
    //     &:hover {
    //         cursor: pointer;
    //         color: red;
    //         letter-spacing: 0.2rem;
    //         transition: 0.5s ease-in-out;
    //         border: solid 1.9px grey;
    //         transition: 0.5s ease-in-out;
    //         border-radius: 0.8rem;
    //     }
    // }



    .center {
        display: flex;
        justify-content: space-between;
        padding-top: 22px;

    }

    .logo {
        padding-top: 21px;

        img {
            height: 37px;
            width: 120px;
            border-radius: 0.8rem;

    }
    a {
        &:hover {
            border: none;
        }
    }
}

    .nav-link-wrapper {
        font-size: 32px;
        border-bottom: transparent;

    }

    h1 {
        font-family: 'Ailerons';
        font-size: 32px
    }

    .active-nav-link {
        color: red;
        letter-spacing: 0.2rem;
        transition: 0.7s ease-in-out;
    }

    .search-bar {
        text-decoration: none;
        padding-top: 28px;

        a {
            #filter {
                background-color: transparent;
                outline: none;
                color: red;
                font-family: 'Ailerons';
                height: 34px;
                border-radius: 1.5rem;
            }

            &:hover {
                border: none;
            }
        }
    }
}