.nav-wrapper {
    padding: 28px;
    text-transform: uppercase;
    background-image: url(../images/planetSun.jpg);
    background-position: top;
    

    a, h1 {
        text-decoration: none;
        color: grey;
        transition: 0.5s ease-in-out;
        font-family: 'Ailerons';



        
        &:hover {
            cursor: pointer;
            color: red;
            letter-spacing: 0.2rem;
            transition: 0.5s ease-in-out;
            border: solid 1.9px grey;
            transition: 0.5s ease-in-out;
            border-radius: 0.8rem;

        }
    }



    .center {
        display: flex;
        justify-content: space-between;
        padding-top: 22px;


    }

<<<<<<< HEAD
    .nav-link-wrapper, h1 {
=======
    .logo {
        img {
            height: 32px;
            width: 120px;
            border-radius: 0.8rem;
    }
    a {
        &:hover {
            border: none;
        }
    }
}

    .nav-link-wrapper {
>>>>>>> f417ac51464f1bf128828c73b34ed52bb158531d
        font-size: 22px;
        border-bottom: transparent;
        
    }

    .active-nav-link {
        color: red;
        letter-spacing: 0.2rem;
        transition: 0.7s ease-in-out;
    }

    .search-bar {
        text-decoration: none;
        a {
            #filter {
                background-color: transparent;
                outline: none;
                color: red;
                font-family: 'Ailerons';
                height: 24px;
                border-radius: 1.5rem;
            }

            i {
                font-size: 20px;
            }

            &:hover {
                border: none;
            }
        }
    }
}